n8n_templates/n8n_ai_advisor_workflow.json
{
  "name": "AI Portfolio Advisor (Token Based)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-advisor",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        140
      ],
      "webhookId": "ai-advisor"
    },
    {
      "parameters": {
        "url": "=http://backend:8000/api/portfolio/dashboard/core",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-data",
      "name": "Fetch Portfolio Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const portfolio = items[0].json.portfolio;\nconst holdings = items[0].json.holdings || [];\n\nlet holdingsList = holdings.map(h => {\n  const marketValue = (h.shares * h.last_price * h.fx_rate_to_portfolio_ccy).toFixed(2);\n  return `- ${h.ticker}: ${h.shares} units @ ${h.last_price} ${h.instrument_ccy} (Total: ${marketValue} ${portfolio.currency})`;\n}).join('\\n');\n\nconst prompt = `You are an AI Portfolio Advisor. Please analyze this portfolio:\\n\\nSummary:\\n- Total Value: ${portfolio.total_value} ${portfolio.currency}\\n- Cash Available: ${portfolio.cash_available} ${portfolio.currency}\\n- Invested Value: ${portfolio.invested_value_current} ${portfolio.currency}\\n\\nHoldings:\\n${holdingsList || 'No active holdings'}\\n\\nProvide a concise analysis (max 3 bullet points) focusing on:\\n1. Diversification/Risk.\\n2. General sentiment based on current holdings.\\nKeep it professional.`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "format-prompt",
      "name": "Format AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=REPLACE_WITH_YOUR_GEMINI_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }] }) }}",
        "options": {}
      },
      "id": "gemini-api",
      "name": "Call Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        140
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Portfolio Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Portfolio Data": {
      "main": [
        [
          {
            "node": "Format AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Prompt": {
      "main": [
        [
          {
            "node": "Call Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini AI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
